Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^css/(.*)$ web/css/$1 [L]
RewriteRule ^js/(.*)$ web/js/$1 [L]
RewriteRule ^images/(.*)$ web/images/$1 [L]
RewriteRule (.*) /web/$1

RewriteRule ^assets/(.*)$ /web/admin_theme/assets/$1 [L]
RewriteRule ^css/(.*)$ web/admin_theme/css/$1 [L]
RewriteRule ^js/(.*)$ web/admin_theme/js/$1 [L]
RewriteRule ^images/(.*)$ web/admin_theme/images/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php

